@{
    ViewData["Title"] = "Edit";
}

<div class="container-fluid" id="main">
    <div class="row" id="pagetitle">
        <div class="col-sm">
            <h2 class="text-center">
                Edit Term
            </h2>
        </div>
    </div>
    <form class="row">
        <div class="row container-fluid" id="termcontainer">
            <div class="form-group col-md">
                <label for="staticTerm" class="form-control">
                    Current Term
                </label>
            </div>
            <div class="form-group col-md">
                <input type="Category" class="form-control" id="inputCategory" placeholder="Category">
            </div>
        </div>
        <div class="row container-fluid" id="definitioncontainer">
            <div class="form-group col-md">
                <input type="Definition" class="form-control" id="inputDefinition" placeholder="Definition">
            </div>
        </div>
        <div class="row container-fluid" id="QAcontainer">
            <div class="form-group col-md" id="QApair">
                <input type="Question1" class="form-control" id="inputQuestion" placeholder="Question 1">
                <input type="Answer1" class="form-control" id="inputAnswer" placeholder="Answer 1">
            </div><div class="form-group col-md" id="QApair">
                <input type="Question2" class="form-control" id="inputQuestion" placeholder="Question 2">
                <input type="Answer2" class="form-control" id="inputAnswer" placeholder="Answer 2">
            </div>
            <div class="form-group col-md" id="QApair">
                <input type="Question3" class="form-control" id="inputQuestion" placeholder="Question 3">
                <input type="Answer3" class="form-control" id="inputAnswer" placeholder="Answer 3">
            </div>
        </div>
        <div class="row container-fluid" id="buttoncontainer">
            <div class="col-sm" id="button">
                <a href="newquestion.html">
                    <button type="button" class="btn btn-primary btn-sm" href="#">
                        Add New Question
                    </button>
                </a>
            </div>
            <div class="col-sm" id="button">
                <a href="newterm.html">
                    <button type="button" class="btn btn-primary btn-sm" href="#">
                        Add New Term
                    </button>
                </a>
            </div>
            <div class="col-sm" id="button">
                <a href="study.html">
                    <button type="button" class="btn btn-primary btn-sm" href="#">
                        Study
                    </button>
                </a>
            </div>
        </div>
    </form>
</div>