/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. 

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background 
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- 
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- 
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height 
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there 
}
    */
body {
    width: auto;
    height: auto;
    border: 1px solid #c3c3c3;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 0 auto;
}

#header {
    padding-top: 5px;
    margin: auto;
}

#pagetitle {
    padding-top: 5rem;
    margin: auto;
    padding-bottom: 2rem;
}

#Questionbracket {
    padding-top: 5rem;
    margin: auto;
    padding-bottom: 2rem;
}

#termcontainer {
    padding-top: 1rem;
    margin: auto;
    text-align: center;
}

#definitioncontainer {
    margin: auto;
    text-align: center;
}

#QAcontainer {
    margin: auto;
}

#wrongAnswer {
    color: red;
}

#buttoncontainer {
    column-rule-width: medium;
    margin: auto auto;
    text-align: center;
}

#button {
    padding: 15px;
}

#buttons {
    border: 1px solid;
}

/*
.flex-column {
	flex-direction: column!important;
}
.navbar-expand {
	flex-flow: row nowrap;
	justify-content: flex-start;
}
.navbar {
	position: relative;
	display: flex;
	align-items: center;
	padding: .5rem 1rem;
}
#header {
	padding-top: 100px;
	background-color: grey;
}
#home-button {
	text-align: center;
}
.row {
	text-align: center;
}
.col-sm-1 {
	display: inline-block;
}
