@{
    ViewData["Title"] = "Home Page";
}


<div class="container" id="main">
    <div class="row" id="pagetitle">
        <div class="col-sm">
            <h1 class="text-center">
                Welcome to the StudyApp
            </h1>
        </div>
    </div>
    <div class="row container-fluid" id="buttoncontainer">
        <div class="col-sm" id="button">
            <a href="Newterm.cshtml">
                <button type="button" class="btn btn-primary btn-sm">
                    New Term
                </button>
            </a>
        </div>
        <div class="col-sm" id="button">
            <a href="study.html">
                <button type="button" class="btn btn-primary btn-sm">
                    Study
                </button>
            </a>
        </div>
        <div class="col-sm" id="button">
            <a href="edit.html">
                <button type="button" class="btn btn-primary btn-sm">
                    Edit Term
                </button>
            </a>
        </div>
    </div>
</div>
